.field{
  width: 300px;
  padding-bottom: 60px;
  fill: transparent;
  fill-opacity: var(transparent);
  background-color: aquamarine;
}

.colour-border{
  border: 6px solid rgb(128, 0, 111);
  padding: 40px;
}

.header{
  padding: 20px;
}