.field{
  width: 800px;
  padding-bottom: 60px;
  fill: transparent;
  fill-opacity: var(transparent);
}

.colour-border{
  border: 8px solid rgb(128, 0, 111);
  padding: 60px;
}

.header{
  padding: 60px;
}